.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding-top: 50px;
}

.banner {
  width: 70%;
  min-height: 300px;
  height: auto;

  background-image: url('./assets/bg.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;

  padding: 20px;
}

 h1 {
  font-size: 4rem;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;

  text-align: left;
  background-color: black;
  padding: 10px;

  /* background-color: white; */
}

p {
  text-align: left;
  width: 300px;;
}


.my-checkbox {
  transform: scale(2);
  margin-right: 11px;
}

.line {
  padding-top: 10px;
}

.button {
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;

  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 300px;
  font-size: 16px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  
}

.modal-container {
  width: 50%;
  max-height: 500px;
  
  background-color: white;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal-container > p {
  font-size: 1.5rem;
  width: 80%;
}

.open {
  display: flex !important;

}

b {
  background-color: yellow;
}